@model BEST.Models.G_C_Empresa

@{
    ViewBag.Title = "Create";
}

<h2></h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading"> Empresa </div>
        <div class="panel-body form-horizontal" >
            @*<h4>Empresa</h4>
            <hr />*@

            @Html.ValidationSummary(true)

            @*<div class="form-group">
                @Html.LabelFor(model => model.id_empresa, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model=>model.id_empresa)
                    @Html.ValidationMessageFor(model => model.ObtenerCorrelativo())
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.razon_social, new { @class = "control-label col-xs-2" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.razon_social)
                    @Html.ValidationMessageFor(model => model.razon_social)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.nombre_comercial, new { @class = "control-label col-xs-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombre_comercial)
                    @Html.ValidationMessageFor(model => model.nombre_comercial)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.direccion, new { @class = "control-label col-xs-2" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.direccion)
                    @Html.ValidationMessageFor(model => model.direccion)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.email, new { @class = "control-label col-xs-2" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.email)
                    @Html.ValidationMessageFor(model => model.email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.telefono, new { @class = "control-label col-xs-2" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.telefono)
                    @Html.ValidationMessageFor(model => model.telefono)
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.fecha_registro, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.fecha_registro)
                    @Html.ValidationMessageFor(model => model.fecha_registro)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.estado, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.estado)
                    @Html.ValidationMessageFor(model => model.estado)
                </div>
            </div>*@
        </div>
        <div class="panel-footer">
                <input type="submit" value="Crear" class="btn btn-success" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar al listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
