@model BEST.Models.G_C_Empresa

@{
    ViewBag.Title = "Delete";
}

<h2></h2>

<div class="alert alert-warning">
    <h3>¿Esta seguro de eliminar la siguiente Empresa?</h3>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h4>Empresa</h4>
    </div> 
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.razon_social)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.razon_social)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nombre_comercial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre_comercial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefono)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.fecha_registro)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fecha_registro)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.estado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.estado)
                </dd>*@

        </dl>
    </div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="panel-footer">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar al listado", "Index", new { @class="btn btn-info"})
        </div>
    }
</div>
