@model BEST.Models.G_C_Empresa

@{
    ViewBag.Title = "Details";
}

<h2></h2>

<div class="panel panel-primary">
    <div class="panel-heading"> Empresa </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.razon_social)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.razon_social)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nombre_comercial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre_comercial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefono)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.fecha_registro)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fecha_registro)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.estado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.estado)
                </dd>*@

        </dl>
    </div>

    <div class="panel-footer">
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.id_empresa }) |
            @Html.ActionLink("Regresar al listado", "Index")
        </p>
    </div>

</div>

