@model BEST.Models.G_C_Usuario

@{
    ViewBag.Title = "Delete";
}

<h2></h2>
<div class="alert alert-warning">
    <h3>¿Esta seguro de eliminar el siguiente usuario?</h3>
</div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4>Usuario</h4>
        </div> 
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.correo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.correo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fecha_registro)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fecha_registro)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.estado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.estado)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.G_C_Empresa.razon_social)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.G_C_Empresa.razon_social)
                </dd>

            </dl>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

    <div class="panel-footer">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Regresar al listado", "Index")
    </div>
            }
        </div>

