@model IEnumerable<BEST.Models.G_C_Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Nuevo Usuario", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.G_C_Empresa.razon_social)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="info">
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_registro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.G_C_Empresa.razon_social)
            </td>
            <td>
                <div class="btn-group btn-group-xs" role="group">
                    @Html.ActionLink(" Editar ", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-success glyphicon glyphicon-pencil" }) 
                    @Html.ActionLink(" Detalles ", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-success glyphicon glyphicon-pencil" }) 
                    @Html.ActionLink(" Borrar ", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-success glyphicon glyphicon-pencil" })
                </div>
            </td>
        </tr>
    }

</table>
